* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: white;
}

.atas {
    margin-top: 100px;
    text-align: center;
}
.atas img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.identity {
    color: black;
    margin-top: 25px;
    text-align: center;
}

.bawah {
    margin-top: 50px;
    text-align: center;
}

.bawah p {
    color: black;
    text-align: center;
}

.media {
    margin-top: auto;
    text-align: center;
    text-decoration: none;
}

.media .twitter {
    margin-left: auto;
    margin-right: auto;
    width: 65px;
}

.media .facebook {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.media .instagram {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}